# Query 1.1
Import the csv file of the stock of your choosing using 'pd.read_csv()' function into a dataframe. Shares of a company can be offered in more than one category. The category of a stock is indicated in the ‘Series’ column. If the csv file has data on more than one category, the ‘Date’ column will have repeating values. To avoid repetitions in the date, remove all the rows where 'Series' column is NOT 'EQ'. Analyze and understand each column properly. You'd find the head(), tail() and describe() functions to be immensely useful for exploration. You're free to carry out any other exploration of your own.

In [1]:
import numpy as np 
import pandas as pd
import os
import datetime
from functools import partial

In [2]:
data = pd.read_csv('MINDTREE.csv')

In [9]:
data.head(2)

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,MINDTREE,EQ,15-May-17,510.60,507.35,515.00,505.9,510.5,509.45,510.39,271952,138800509.8,8261,100362,36.90
1,MINDTREE,EQ,16-May-17,509.45,507.00,515.85,506.0,511.0,511.30,512.69,207011,106131728.2,5550,82090,39.65

In [10]:
filtered_data = data[data.Series == 'EQ']
filtered_data.head(2)

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,MINDTREE,EQ,15-May-17,510.60,507.35,515.00,505.9,510.5,509.45,510.39,271952,138800509.8,8261,100362,36.90
1,MINDTREE,EQ,16-May-17,509.45,507.00,515.85,506.0,511.0,511.30,512.69,207011,106131728.2,5550,82090,39.65

In [32]:
filtered_data.tail(2)

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
492,MINDTREE,EQ,2019-05-10,980.45,980.4,982.9,973.0,974.0,975.35,977.55,215170,210339592.4,5128,26734,12.42
493,MINDTREE,EQ,2019-05-13,975.35,973.4,983.0,970.3,981.0,979.10,980.16,485941,476299706.8,14005,222691,45.83

In [31]:
filtered_data.describe()

        Prev Close   Open Price  ...  Deliverable Qty  % Dly Qt to Traded Qty
count   494.000000   494.000000  ...     4.940000e+02               494.00000
mean    778.486032   779.720547  ...     3.463618e+05                29.18668
std     214.140514   214.851383  ...     3.420743e+05                14.05687
min     442.500000   443.000000  ...     1.505300e+04                 5.87000
25%     537.025000   537.975000  ...     1.523290e+05                18.69500
50%     835.075000   838.000000  ...     2.529855e+05                26.39500
75%     968.137500   968.500000  ...     4.366368e+05                37.06250
max    1161.950000  1165.000000  ...     3.851210e+06                91.89000

[8 rows x 12 columns]

# Query 1.2
Calculate the maximum, minimum and mean price for the last 90 days. (price=Closing Price unless stated otherwise)

In [12]:
filtered_data.tail(90)['Close Price'].max()

989.4

In [13]:
filtered_data.tail(90)['Close Price'].min()

812.25

In [14]:
filtered_data.tail(90)['Close Price'].mean()

918.6122222222218

# Query 1.3 
Analyse the data types for each column of the dataframe. Pandas knows how to deal with dates in an intelligent manner. But to make use of Pandas functionality for dates, you need to ensure that the column is of type 'datetime64(ns)'. Change the date column from 'object' type to 'datetime64(ns)' for future convenience. See what happens if you subtract the minimum value of the date column from the maximum value.

In [17]:
filtered_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 494 entries, 0 to 493
Data columns (total 15 columns):
Symbol                    494 non-null object
Series                    494 non-null object
Date                      494 non-null datetime64[ns]
Prev Close                494 non-null float64
Open Price                494 non-null float64
High Price                494 non-null float64
Low Price                 494 non-null float64
Last Price                494 non-null float64
Close Price               494 non-null float64
Average Price             494 non-null float64
Total Traded Quantity     494 non-null int64
Turnover                  494 non-null float64
No. of Trades             494 non-null int64
Deliverable Qty           494 non-null int64
% Dly Qt to Traded Qty    494 non-null float64
dtypes: datetime64[ns](1), float64(9), int64(3), object(2)
memory usage: 61.8+ KB

In [15]:
filtered_data['Date'] = pd.to_datetime(filtered_data['Date'])
filtered_data['Date'].dtype

dtype('<M8[ns]')

In [16]:
filtered_data['Date'].max()-filtered_data['Date'].min()

Timedelta('728 days 00:00:00')

# Query 1.4
In a separate array , calculate the monthwise VWAP (Volume Weighted Average Price ) of the stock. 
( VWAP = sum(price*volume)/sum(volume) ) 
To know more about VWAP , visit - VWAP definition 
{Hint : Create a new dataframe column ‘Month’. The values for this column can be derived from the ‘Date” column by using appropriate pandas functions. Similarly, create a column ‘Year’ and initialize it. Then use the 'groupby()' function by month and year. Finally, calculate the vwap value for each month (i.e. for each group created).

DatetimeIndex = outputs an Index object containing the date values present in each of the entries of the DatetimeIndex object.

In [20]:
data['Month'] = pd.DatetimeIndex(data['Date']).month
data['Year'] = pd.DatetimeIndex(data['Date']).year
data['VWAP'] = (data['Close Price'] * data['Total Traded Quantity']).cumsum() / data['Total Traded Quantity'].fillna(0).cumsum()
data_vwap = data[['Month','Year','VWAP']]
group = data_vwap.groupby(['Month','Year'])
group.first()

                  VWAP
Month Year
1     2018  516.202743
      2019  843.125130
2     2018  572.722380
      2019  846.155182
3     2018  609.866603
      2019  848.327396
4     2018  651.524063
      2019  853.178143
5     2017  509.450000
      2018  730.334478
      2019  856.030810
6     2017  522.517683
      2018  760.847401
7     2017  528.654830
      2018  776.898919
8     2017  521.674873
      2018  806.405595
9     2017  514.842649
      2018  822.588413
10    2017  503.871258
      2018  840.417469
11    2017  501.226909
      2018  842.242954
12    2017  504.364596
      2018  842.393059

# Query 1.5
Write a function to calculate the average price over the last N days of the stock price data where N is a user defined parameter. Write a second function to calculate the profit/loss percentage over the last N days.
Calculate the average price AND the profit/loss percentages over the course of last -
1 week, 2 weeks, 1 month, 3 months, 6 months and 1 year.
{Note : Profit/Loss percentage between N days is the percentage change between the closing prices of the 2 days}

iloc returns a Pandas Series when one row is selected, and a Pandas DataFrame when multiple rows are selected, or if any column in full is selected.

In [45]:
data['Close Price'].tail(5)

489    979.95
490    980.50
491    980.45
492    975.35
493    979.10
Name: Close Price, dtype: float64

In [47]:
data['Close Price'].tail(5).iloc[4]

979.1

In [48]:
data['Close Price'].tail(5).iloc[0]

979.95

In [21]:
print("Average prices for last N days are as follows:")
def avg_price(N):
    return (data['Average Price'].tail(N).sum())/N

print("Last 1 week",avg_price(5))
print("Last 2 weeks",avg_price(10))
print("Last 1 month",avg_price(20))
print("Last 3 months",avg_price(60))
print("Last 6 months",avg_price(120))
print("Last 1 year",avg_price(240))

print("Profit/Loss % for N days are as follows:")
def prof_loss(N):
    difference = (data['Close Price'].tail(N).iloc[N-1] - data['Close Price'].tail(N).iloc[0])
    if difference < 0 :
        loss = -(difference)
        loss_percen = (loss/data['Close Price'].tail(N).iloc[N-1])*100
        return loss_percen
    if difference > 0 :
        profit = difference
        profit_percen = (profit/data['Close Price'].tail(N).iloc[N-1])*100
        return profit_percen
    
print("Last 1 week",prof_loss(5))
print("Last 2 weeks",prof_loss(10))
print("Last 1 month",prof_loss(20))
print("Last 3 months",prof_loss(60))
print("Last 6 months",prof_loss(120))
print("Last 1 year",prof_loss(240))

Average prices for last N days are as follows:
Last 1 week 979.4680000000001
Last 2 weeks 979.175
Last 1 month 978.2695
Last 3 months 943.5338333333333
Last 6 months 903.1566666666666
Last 1 year 948.6203333333334
Profit/Loss % for N days are as follows:
Last 1 week 0.0868144214074173
Last 2 weeks 0.33193749361658664
Last 1 month 0.9038913287713229
Last 3 months 6.235318149320811
Last 6 months 14.166070881421719
Last 1 year 4.064957614135426

# Query 1.6 
Add a column 'Day_Perc_Change' where the values are the daily change in percentages i.e. the percentage change between 2 consecutive day's closing prices. Instead of using the basic mathematical formula for computing the same, use 'pct_change()' function provided by Pandas for dataframes. You will note that the first entry of the column will have a ‘Nan’ value. Why does this happen? Either remove the first row, or set the entry to 0 before proceeding.

In [49]:
data['Day_Perc_Change'] = data['Close Price'].pct_change().fillna(0)
data.head(5)

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,VWAP,Day_Perc_Change
0,MINDTREE,EQ,15-May-17,510.60,507.35,515.00,505.90,510.50,509.45,510.39,271952,138800509.8,8261,100362,36.90,5,2017,509.450000,0.000000
1,MINDTREE,EQ,16-May-17,509.45,507.00,515.85,506.00,511.00,511.30,512.69,207011,106131728.2,5550,82090,39.65,5,2017,510.249582,0.003631
2,MINDTREE,EQ,17-May-17,511.30,507.05,519.70,502.75,504.00,506.35,512.10,391401,200437504.6,13341,150098,38.35,5,2017,508.495948,-0.009681
3,MINDTREE,EQ,18-May-17,506.35,502.00,516.75,486.00,487.50,492.90,505.60,852336,430937717.1,18513,170919,20.05,5,2017,500.779579,-0.026563
4,MINDTREE,EQ,19-May-17,492.90,491.95,502.95,489.50,495.15,497.50,496.43,352273,174878151.5,8326,57853,16.42,5,2017,500.222798,0.009333

# Query 1.7 
Add another column 'Trend' whose values are:
'Slight or No change' for 'Day_Perc_Change' in between -0.5 and 0.5

'Slight positive' for 'Day_Perc_Change' in between 0.5 and 1

'Slight negative' for 'Day_Perc_Change' in between -0.5 and -1

'Positive' for 'Day_Perc_Change' in between 1 and 3

'Negative' for 'Day_Perc_Change' in between -1 and -3

'Among top gainers' for 'Day_Perc_Change' in between 3 and 7

'Among top losers' for 'Day_Perc_Change' in between -3 and -7

'Bull run' for 'Day_Perc_Change' >7

'Bear drop' for 'Day_Perc_Change' <-7

In [50]:
if ((data['Day_Perc_Change'] >= -0.5) & (data['Day_Perc_Change'] <= 0.5)).all():
    data['Trend'] = 'Slight or No change'
    
if ((data['Day_Perc_Change'] >= 0.5) & (data['Day_Perc_Change'] <= 1)).all():
    data['Trend'] = 'Slight positive'
    
if ((data['Day_Perc_Change'] <= -0.5) & (data['Day_Perc_Change'] >= -1)).all():
    data['Trend'] = 'Slight negative'
    
if ((data['Day_Perc_Change'] >= 1) & (data['Day_Perc_Change'] <= 3)).all():
    data['Trend'] = 'Positive' 
    
if ((data['Day_Perc_Change'] <= -1) & (data['Day_Perc_Change'] >= -3)).all():
    data['Trend'] = 'Negative'
    
if ((data['Day_Perc_Change'] >= 3) & (data['Day_Perc_Change'] <= 7)).all():
    data['Trend'] = 'Among top gainers'
    
if ((data['Day_Perc_Change'] <= -3) & (data['Day_Perc_Change'] >= -7)).all():
    data['Trend'] = 'Among top losers'
    
if (data['Day_Perc_Change'] > 7).all():
    data['Trend'] = 'Bull run' 
    
if (data['Day_Perc_Change'] < -7).all():
    data['Trend'] = 'Bear drop' 
    
data.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,VWAP,Day_Perc_Change,Trend
0,MINDTREE,EQ,15-May-17,510.60,507.35,515.00,505.90,510.50,509.45,510.39,271952,138800509.8,8261,100362,36.90,5,2017,509.450000,0.000000,Slight or No change
1,MINDTREE,EQ,16-May-17,509.45,507.00,515.85,506.00,511.00,511.30,512.69,207011,106131728.2,5550,82090,39.65,5,2017,510.249582,0.003631,Slight or No change
2,MINDTREE,EQ,17-May-17,511.30,507.05,519.70,502.75,504.00,506.35,512.10,391401,200437504.6,13341,150098,38.35,5,2017,508.495948,-0.009681,Slight or No change
3,MINDTREE,EQ,18-May-17,506.35,502.00,516.75,486.00,487.50,492.90,505.60,852336,430937717.1,18513,170919,20.05,5,2017,500.779579,-0.026563,Slight or No change
4,MINDTREE,EQ,19-May-17,492.90,491.95,502.95,489.50,495.15,497.50,496.43,352273,174878151.5,8326,57853,16.42,5,2017,500.222798,0.009333,Slight or No change

# Query 1.8 
Find the average and median values of the column 'Total Traded Quantity' for each of the types of 'Trend'.
{Hint : use 'groupby()' on the 'Trend' column and then calculate the average and median values of the column 'Total Traded Quantity'}

Since I only have 'Slight or No change' as my trend column so

In [55]:
data.groupby(data.Trend).mean()['Total Traded Quantity']

Trend
Slight or No change    1.388615e+06
Name: Total Traded Quantity, dtype: float64

In [56]:
data.groupby(data.Trend).median()['Total Traded Quantity']

Trend
Slight or No change    1006586.5
Name: Total Traded Quantity, dtype: float64

# Query 1.9
SAVE the dataframe with the additional columns computed as a csv file week2.csv. In Module 2, you are going to get familiar with matplotlib, the python module which is used to visualize data.

In [57]:
data.to_csv('week1.csv')